{% extends 'bases/base.html' %}

{% block title %}
    PTT 看板轉錄
{% endblock %}

{% block headmessage %}
    轉錄文章
{% endblock %}

{% block content %}
<div class="col-lg-9">
    {% for post in posts%}

    <div class="card mb-4">
        {% if post.img != None %}
            <a href="#!"><img class="card-img-top" src="{{post.img}}" alt="..." /></a>
        {% endif %}
        <div class="card-body">
            <div class="small text-muted">{{post.pub_date}}</div>
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.body | truncatechars:200 }}</p>
            <a class="btn btn-primary" href="post/{{post.slug}}">閱讀更多 →</a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}

{% block js_script %}{% endblock %}


