{% extends 'bases/base.html' %}
{% block title %}
    PTT 看板轉錄
{% endblock %}

{% block headmessage %}
    {{post.title}}
{% endblock %}

{% block content %}
<div class="col-lg-9">
    <div class="card mb-4">
        {% if post.img != None %}
        <a href="#!"><img class="card-img-top" src="{{post.img}}" alt="..." /></a>
        {% endif %}
        <div class="card-body">
            <div class="small text-muted">{{post.pub_date}}</div>
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.body | safe  }}</p>
            <a class="btn btn-secondary" href="/">← 回列表</a>
        </div>
        <div class="card-body">
            {% include 'components/disqus.html' %}
        </div>
    </div>
</div>
{% endblock %}


{% block js_script %}{% endblock %}
