<!-- base.html -->
<!DOCTYPE>
<html>
<head>
    {% load static %}
    <meta charset='utf-8'>
    <title>
       {% block title %} {% endblock %}
    </title>
    {% include 'components/header_lib.html' %}
    {% include 'components/header_css.html' %}
</head>
<body>
    {% include 'components/navbar.html' %}
    {% comment %} <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">{% block headmessage %}{% endblock %}</h1>
                <p class="lead mb-0"></p>
            </div>
        </div>
    </header> {% endcomment %}
    <header>
        <div
          class="text-center bg-image"
          style="
            background-image: url('{% static 'banner1.jpg' %}');
            height: 350px;
          "
        >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">{% block headmessage %}{% endblock %}</h1>
                {% comment %} <h4 class="mb-3">Subheading</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
    </header>
    
    <div class="container pt-3">
        <div class="row">
            {% include 'components/sidebar.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'components/footer.html' %}
</body>
</html>

{% block js_script %}{% endblock %}
